[Unit]
Description=GitHub Actions Runner
After=network.target

[Service]
Type=simple
User=runner
ExecStart=/home/runner/bin/runsvc.sh
ExecStartPre=/home/runner/runner-setup.sh
ExecStopPost=/usr/bin/sudo /usr/sbin/reboot
EnvironmentFile=/etc/default/runner
TimeoutStopSec=5min
WorkingDirectory=/home/runner
KillSignal=SIGINT
Restart=on-failure
RestartSec=5s
KillMode=process

[Install]
WantedBy=multi-user.target
