---
name: build-fireactions

on:
  push:
    tags:
    - "fireactions-**"
    - "!fireactions-agent-**"

permissions:
  pull-requests: write
  contents: write
  packages: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v3
      with:
        fetch-depth: 0

    - name: Fetch tags
      run: |
        git fetch --force --tags

    - name: Set up Go
      uses: actions/setup-go@v4
      with:
        go-version: stable

    - name: Set up QEMU
      uses: docker/setup-qemu-action@v3

    - name: Set up Buildx
      uses: docker/setup-buildx-action@v3
      with:
        install: true

    - name: Login to GitHub Container Registry
      uses: docker/login-action@v2
      with:
        registry: ghcr.io
        password: ${{ secrets.ORG_GITHUB_TOKEN }}
        username: ${{ github.actor }}

    - name: Release
      uses: goreleaser/goreleaser-action@v4
      with:
        args: release --rm-dist
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
