---
name: build-runner

on:
  push:
    branches:
    - main
    paths:
    - contrib/**
  workflow_run:
    workflows: ["build-agent"]
    types:
      - completed

permissions:
  packages: write
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        os: ["ubuntu-20.04", "ubuntu-22.04"]
        arch: ["amd64", "arm64"]

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Setup GH CLI
      uses: sersoft-gmbh/setup-gh-cli-action@v2
      with:
        version: stable

    - name: Get latest agent release
      env:
        GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: |
        echo "AGENT_VERSION=$(gh release list | grep 'agent' | awk {'print $1'} | head -1)" >> $GITHUB_ENV

    - name: Download fireactions-agent
      uses: robinraju/release-downloader@v1.8
      with:
        tag: ${{ env.AGENT_VERSION }}
        fileName: "fireactions-agent*"
        tarBall: false
        zipBall: false

    - name: Get Github runner version
      run: |
        echo RUNNER_VERSION=$(cat contrib/runner_version) >> $GITHUB_ENV

    - name: Log in to the Container registry
      uses: docker/login-action@v3
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3

    - name: Set docker tags
      run: |
        echo "TIMESTAMP=$(date +'%Y%m%d%H%M%S')" >> $GITHUB_ENV
        echo "RUNNER_TAG=$(echo runner_v${RUNNER_VERSION})" >> $GITHUB_ENV
        echo "AGENT_TAG=$(echo ${AGENT_VERSION} | tr "/" _)" >> $GITHUB_ENV

    - name: Build and push Docker image
      uses: docker/build-push-action@v5
      with:
        provenance: false
        context: .
        file: contrib/${{ matrix.os }}.Dockerfile
        push: ${{ github.event_name != 'pull_request' }}
        build-args: |
          ARCH=${{ matrix.arch }}
          RUNNER_VERSION=${{ env.RUNNER_VERSION }}
        tags: |
          ghcr.io/${{ github.repository }}/runner:${{ matrix.os }}-${{ matrix.arch }}-${{ env.AGENT_TAG }}-${{ env.RUNNER_TAG }}-${{ env.TIMESTAMP }},
          ghcr.io/${{ github.repository }}/runner:${{ matrix.os }}-${{ matrix.arch }}-${{ env.AGENT_TAG }}-${{ env.RUNNER_TAG }},
          ghcr.io/${{ github.repository }}/runner:${{ matrix.os }}-${{ matrix.arch }}-${{ env.AGENT_TAG }},
          ghcr.io/${{ github.repository }}/runner:${{ matrix.os }}-${{ matrix.arch }}
        platforms: linux/${{ matrix.arch }}

    - name: Trigger hostinger runner image update workflow
      if: ${{ matrix.arch == 'amd64' }}
      env:
        GH_TOKEN: ${{ secrets.ORG_GITHUB_TOKEN }}
      run: |
        echo '
          {
            "os":"${{ matrix.os }}",
            "tag": "${{ matrix.os }}-${{ matrix.arch }}-${{ env.AGENT_TAG }}-${{ env.RUNNER_TAG }}-${{ env.TIMESTAMP }}",
            "runner_version":"${{ env.RUNNER_TAG }}",
            "agent_version": "${{ env.AGENT_TAG }}"
          }
        ' | \
        gh workflow run update.yml --repo hostinger/fireactions-runner-images --json
