---
name: release

on:
  workflow_dispatch:
  push:
    branches:
    - main

permissions:
  pull-requests: write
  contents: write
  packages: write

jobs:
  release-please:
    runs-on: ubuntu-latest
    outputs:
      release_created: ${{ steps.release-please.outputs.release_created }}
    steps:
    - name: Run release-please
      uses: google-github-actions/release-please-action@v3
      id: release-please
      with:
        package-name: fireactions
        release-type: go
        pull-request-title-pattern: 'chore${scope}: Release ${component} ${version}'
        token: ${{ secrets.ORG_GITHUB_TOKEN }}

  release:
    needs: release-please
    if: ${{ needs.release-please.outputs.release_created }}
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v3
      with:
        fetch-depth: 0

    - name: Fetch tags
      run: |
        git fetch --force --tags

    - name: Set up Go
      uses: actions/setup-go@v4
      with:
        go-version: stable

    - name: Login to GitHub Container Registry
      uses: docker/login-action@v2
      with:
        registry: ghcr.io
        password: ${{ secrets.ORG_GITHUB_TOKEN }}
        username: ${{ github.actor }}

    - name: Release
      uses: goreleaser/goreleaser-action@v4
      with:
        args: release --rm-dist
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
